select.input-sm{
	width:2.3125rem;
}

#checkin_success{
	background:#80FFA2;
    border-radius: 25px;
	border: 1px red solid;
	position: absolute;
	top:4pt;
    left: 0;
  	right: 0;
  	margin: 0 auto;
	max-width:250pt;
	padding:5pt;
	text-align:center;
	display:none;
}

#blacklisted{
	width:100%;
}

.grid{
	display:block;
}

.gridcell{
	display:inline-block;
	position: relative;
	border:1px gray solid;
	width: 45pt;
	height:45pt;
	line-height: 45pt;
	font-weight: bolder;
	text-align:center;
	margin:1pt;
}

.counter{
	position: absolute;
	top:0pt;
	right:0pt;
	color:red;
	font-size:small;
	line-height: normal;
}

.grid_detail{
	font-weight: normal;
	font-size: default;
	display:block;
	padding:2pt;
}
.dialog{
	width: 100%;
	display:none;
}

/*.grid_detail{ display:none; }
.gridcell:active .grid_detail{ display:block; }*/
